@import "tailwindcss";

@layer base {
  body {
    @apply text-gray-700;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

.logo-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.recipe-title-font {
  font-family: "Cormorant Unicase", serif;
}
