@import "tailwindcss";

@layer base {
  body {
    @apply text-gray-700;
  }
}

@theme {
  --color-bg: #EFECE7;
  --color-primary: #D0D8DA;
  --color-accent: #5A7863;
  --color-action: #E88538;
  --color-warning: #CE281E;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

.logo-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.recipe-title-font {
  font-family: "Cormorant Unicase", serif;
}
